*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-decoration: none; */
}
/* HEADER */
header{
    width: 100%;
    height: 100px;
}

.headcontainer{
    width: 100%;
    height: 100%;
    background-color: #ff9900;
    
}
.navbar{
    width: 100%;
    height: 100%;
    background-color: hsl(177, 47%, 81%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}
.logo img{
    height: 70%;
}
.navlinks{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.navlinks li{
    list-style-type: none;
}
.navlinks li a{
    text-decoration: none;
    color: rgb(10, 10, 11);
    font-size: 25px;
    text-transform: capitalize;
}
.menu{
    font-size: 30px;
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    margin-right: 10px;
    display: none;
}
#check{
    display: none;
}
@media screen and (max-width:500px) {
   .navlinks{
    width: 100%;
    height: 250px;
    background-color:#290ac499;
    display: flex;
    position: absolute;
    top: 100px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    display: none;
   }
   .menu{
    display: block;
   }
   .navlinks li{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .navlinks li a{
    
    color: rgb(251, 248, 248);
   }
     #check:checked ~ .links {
    bottom: 0;
}
   #check:checked ~.navlinks{
    display: flex;
   }
   #check:checked~.navlinks{
    display: flex;
   }
}

/* main */
body{
    line-height: 1.5;
    font-family: sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.container{
    /* background-color: red; */
	max-width: 1170px;
	margin:auto;
    
}
.flip-main{
	min-height: 100vh;
	background-color: #222324;
	padding: 100px 0;
}
.flip-main .flip-card{
    flex:0 0 calc(33.33% - 30px);
    margin:0 15px 30px;
     perspective: 1000px; /*remove this if you dont want the 3d effect */
}
.flip-main .flip-card-inner{
	box-shadow: 0 0 10px #a9b3d6;
	position: relative;
	transform-style: preserve-3d;
	transition: all 1s ease;
}
.flip-main .flip-card-front img{
	width: 100%;
}
.flip-main .flip-card-front,
.flip-main .flip-card-back{
	backface-visibility: hidden;
}
.flip-main .flip-card-back{
	background-color: #6e0ec5;
	position: absolute;
	left:0;
	top:0;
	padding: 15px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: rotateY(180deg);
}
.flip-main .flip-card-back h3{
	font-size: 24px;
	color: #ffffff;
	margin:0 0 5px;
}
.flip-main .flip-card-back p{
	font-size: 16px;
	color: #e9e9e9;
	margin:0;
}
.flip-main .flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
 }
 /*responsive*/
@media(max-width: 991px){
    .flip-main .flip-card {
      flex: 0 0 calc(50% - 30px);
    }
  }
  @media(max-width: 767px){
    .flip-main .flip-card {
      flex: 0 0 calc(100% - 30px);
    }	
  }
 

/* Footer */
/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

} */
.footer{
    max-width: 1400px;
   top:120%;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  position: absolute;
  bottom: 0;
  background: #fff;
  box-shadow: -5px -0px 2px rgba(0, 0, 0, 0.5);
}

footer a {
    text-decoration: none;
    color: #1c2833;
  }
  .footer-row{
    display:grid;
    grid-template-columns:  repeat(4, 1fr);
    padding: 2rem 0;
    grid-gap:2.5rem;

  }
  .footer-headings{
    color: #000;
    padding-bottom: 2rem;
    position: relative;
  
  }
.footer-headings::after{
    content: "";
    height: 3px;
    background: #e74c3c;
    width: 25%;
    position: absolute;
    top:30px;
    left:0px;
}
.footer-col img{
    display:block;
    object-fit: cover;
    width: 100%;

}
.footer-col p{
    padding: 1rem 0;
    text-align: justify;

}
.icons{
    display: flex;
    justify-content: space-between;
}
.icons i{
    font-size: 1.5rem;
    cursor: pointer;
    background: #ddd;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
    color: #1c2833;
}

.icons i:hover{
    transform: translate(-5px);
}
.links1{
    list-style: none;
}
.links1 li{
margin: 1rem 0;
}

.links1 li:first-child{
    margin-top: 0;
}

 .links2{
    list-style: none;
}
 .links2 li{
    margin: 1.5rem 0;
    display: flex;
}
 .links2  li:first-child{
    margin-top: 0;
}
.links2 li i{
    margin-right: 10px;
    background: #ddd;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
}

.links2 span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_control input,
textarea {
  outline: none;
  border: none;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 5px;
  font-size: 0.9rem;
}

.footer-col button{
    display: block;
  width: 100%;
  outline: none;
  background: #e74c3c;
  border: none;
  color: #fff;
  padding: 0.6rem 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
}
.footer_txt {
    
    background: #f0f3f4;
    padding: 1.1rem 0;
    position: relative;
    margin-top: 25%;
    text-align: center;
    box-shadow: -5px -0px 2px rgba(0, 0, 0, 0.5);
  }
  /* media */

  @media (max-width: 768px) {
    body {
      min-height: 50vh;
    }
  
    .footer_row {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4rem;
      padding: 3rem 0;
    }
  
    .icons i {
      font-size: 1.3rem;
      width: 45px;
      height: 45px;
    }
  
    footer {
      position: absolute;
      top: 50%;
    }
  
  }
  
  @media (max-width: 568px) {
    .footer-row {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 3rem;
      padding: 2.5rem 0;
    }
  
    .icons i {
      font-size: 1rem;
      width: 35px;
      height: 35px;
    }
  
    footer {
      position: absolute;
      top: 30%;
    }
  }